* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

input,
button {
  font-size: 1rem;
}

.wrap-text {
  overflow-wrap: anywhere;
}

#root {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
}

.calculator {
  --calculator-spacing: 2rem;
  display: flex;
  width: 100%;
  max-width: 35rem;
  padding: var(--calculator-spacing);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.65rem;
  gap: var(--calculator-spacing);
  position: relative;
  background-color: rgb(30, 30, 30);
  color: white;
}

.output {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.output-item {
  font-size: 1.25rem;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.output-item--large {
  font-size: 3rem;
}

.save-button {
  font-size: 0.85rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 2rem;
  position: absolute;
  bottom: calc(-1.5rem);
  left: 75%;
  font-weight: bold;
  line-height: 1rem;
  background-color: white;
  color: black;
  cursor: pointer;
  transform: translateX(-50%);
}

.save-button:hover {
  background-color: gainsboro;
}

/* 
  Consider using a pre-processor to use centrally defined breakpoints in
  all CSS files.
*/
@media screen and (max-width: 410px) {
  .calculator {
    flex-direction: column-reverse;
  }

  .output {
    margin-top: var(--calculator-spacing);
  }

  .save-button {
    left: 50%;
  }
}
