* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

input {
  font-size: 1rem;
}

.wrap-text {
  overflow-wrap: anywhere;
}

#root {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
}

.calculator {
  --spacing: 2rem;
  display: flex;
  width: 100%;
  max-width: 35rem;
  padding: var(--spacing);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.65rem;
  gap: var(--spacing);
  background-color: rgb(30, 30, 30);
  color: white;
}

.output {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.output-item {
  font-size: 1.25rem;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.output-item--large {
  font-size: 3rem;
}

/* 
  Consider using a pre-processor to use centrally defined breakpoints in
  all CSS files.
*/
@media screen and (max-width: 410px) {
  .calculator {
    padding-top: 4rem;
    flex-direction: column-reverse;
  }
}
